body.dark-mode {
  background-color: rgb(39, 35, 35);
  color: #fff;
}

body.light-mode {
  background-color: #fff;
  color: rgb(39, 35, 35);
}
body.dark-mode main {
  background-color: rgb(39, 35, 35);
  color: #fff;
}

body.light-mode main {
  background-color: #fff;
  color: rgb(39, 35, 35);
}
body.dark-mode header.encabezados-contenido {
  background-color: rgb(39, 35, 35);
  color: #fff;
}
body.light-mode header.encabezados-contenido {
  background-color: #fff;
  color: rgb(39, 35, 35);
}
body.dark-mode .profile-container {
  background-color: rgb(39, 35, 35);
  color: #fff;
}

body.light-mode .profile-container {
  background-color: #fff;
  color: rgb(39, 35, 35);
}

body.dark-mode .card-body {
  background-color: rgb(39, 35, 35);
  color: #fff;
}

body.light-mode .card-body {
  background-color: #fff;
  color: rgb(39, 35, 35);
}

/* Modo Oscuro */
body.dark-mode .caja-contenido,
body.dark-mode .caja-contenido-adentro,
body.dark-mode .caja-description,
body.dark-mode .caja-tema,
body.dark-mode .caja-recursos{
  background-color: rgb(39, 35, 35);
  color: #fff;
}

/* Modo Claro */
body.light-mode .caja-contenido,
body.light-mode .caja-contenido-adentro,
body.light-mode .caja-description,
body.light-mode .caja-tema,
body.light-mode .caja-recursos{
  background-color: #fff;
  color: rgb(39, 35, 35);
}




/* Estilos para el modo oscuro */
body.dark-mode .table {
  background-color: rgb(39, 35, 35);
  color: #fff; /* Cambia el color del texto a blanco en modo oscuro */
}

/* Otros estilos específicos para el modo oscuro */
body.dark-mode .table th {
  background-color: #4ab4f1; 
  color: #fff;/* Color de fondo para las celdas de encabezado en modo oscuro */
}

body.dark-mode .table td {
  background-color: rgb(39, 35, 35);
  color: #fff; /* Color de fondo para las celdas de datos en modo oscuro */
}

/* Agrega estilos para otros elementos que deben cambiar en el modo oscuro */
body.dark-mode .nombre-unidad {
  color: #ffcc00; /* Cambia el color de texto de la clase 'nombre-unidad' en modo oscuro */
}




