{% extends 'base-profile.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<di class="container by-5">
    {% csrf_token %}
    <h4>Bienvenid@ a Smart Genius {% if user_username %}{{ user_email }}{% else %}Invitado{% endif %}</h4>
    
    <!-- Barra de progreso circular -->
    <div class="circle-progress">
        {% if user.is_authenticated %}
        {% if perms.tasks.add_unidad %}
        <a class="circle-container text-decoration-none"  href="{% url 'unidad' %}">
            <div class="circle">
                <i class="fas fa-clipboard-check circle-icon"></i>
            </div>
            <div class="circle-label">Unidades</div>
        </a>
        <a class="circle-container text-decoration-none" href="{% url 'contenido' %}">
            <div class="circle">
                <i class="fas fa-book-open circle-icon"></i>
            </div>
            <div class="circle-label">Contenidos</div>
        </a>
        <a class="circle-container text-decoration-none" href="{% url 'material' %}">
            <div class="circle">
                <i class="fas fa-file-alt circle-icon"></i>
            </div>
            <div class="circle-label">Materiales</div>
        </a>
        <a class="circle-container text-decoration-none" href="{% url 'temas' %}">
            <div class="circle">
                <i class="fas fa-lightbulb circle-icon"></i>
            </div>
            <div class="circle-label">Temas</div>
        </a>
        {% else %}
        <a class="circle-container text-decoration-none" href="{% url 'contenido_alu' %}">
            <div class="circle">
                <i class="fa-solid fa-book-open circle-icon"></i>
            </div>
            <div class="circle-label">Contenido</div>
        </a>
        <a class="circle-container text-decoration-none" href="{% url 'perfil_alu' %}">
            <div class="circle">
                <i class="fa-solid fa-user circle-icon"></i>
            </div>
            <div class="circle-label">Perfil</div>
        </a>
        <a class="circle-container text-decoration-none" href="{% url 'avance_alu' %}">
            <div class="circle">
                <i class="fa-solid fa-layer-group circle-icon"></i>
            </div>
            <div class="circle-label">Mi Avance</div>
        </a>
        {% endif %}
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    {% if perms.tasks.add_unidad %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                {{ grafico_html | safe }}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}