{% extends 'base-profile.html' %}
{% load static %}
{% block title %}Contenido{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style-tema-alu.css' %}">
{% endblock css %}
{% block content %}
<div>
    <span class="fw-bold fs-4" style="color: #fdb128">TEMAS</span>
</div>
<span id="name" style="display: none;">{% if user_email %}{{ user_username }}{% else %}Invitado{% endif %}</span>
{% endblock %}
{% block js %}
<script src="{% static 'js/tema_alumno.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>
{% endblock js %}