{% extends 'base-profile.html' %}
{% load static %}
{% block title %}Contenido{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style-tema-alu.css' %}">
{% endblock css %}
{% block content %}
<div>
    <span class="fw-bold fs-4" style="color: #fdb128">TEMAS</span>
</div>
<span id="name" style="display: none;">{% if user_email %}{{ user_username }}{% else %}Invitado{% endif %}</span>

{% if temas %}
<li><a class="dropdown-item btn-tema" id="{{tema.id}}" href="#">{{tema.nombre}}</a></li>

{% else %}
<div class="row">
    <div class="position-relative">
        <div class="position-absolute bottom-0 end-0">
            <button type="button" id="atras" class="btn btn-outline-secondary">
                <i class="fa-solid fa-arrow-left-long"></i>
                Atrás
            </button>
        </div>
    </div>
    <script>
        document.getElementById('atras').addEventListener('click', function () {
            window.history.back();
        });
    </script>
</div>
<div class="ilustracion d-flex justify-content-center align-items-center mt-5">
    <img style="width: 200px; height: 200px;" src="{% static 'img/not-data.svg' %}">
</div>
<p class="text-center mt-3 fw-bold fs-6" style="color: #fdb128">
    No se encontraron resultados.
</p>
{% endif %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¡Recomendación Importante!</h5>
            </div>
            <div class="modal-body">
                <p>¡Hola! ¡Te sugerimos revisar los videos recomendados para obtener información adicional
                    que podría ayudarte a resolver los ejercicios! Una nueva perspectiva puede marcar la
                    diferencia. ¡Échales un vistazo y vuelve cuando estés listo para resolver los
                    ejercicios!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="openModalButton" data-bs-toggle="modal"
                    data-bs-target="#videosModal"><i class="fa-solid fa-play"></i>Ver Videos</button>
                <button type="button" class="btn btn-danger" id="cancelarModalButton"> <i class="fa-solid fa-ban"></i>
                    Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recomendación de videos</h5>
                <button type="button" class="btn-close" id="close"></button>
            </div>
            <div class="modal-body video">
                <div class="container">
                    <div class="row" id="modalVideoContainer">
                        <!-- Aquí se agregarán las tarjetas de video dinámicamente con JavaScript -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>
<script src="{% static 'js/tema_alumno.js'%}"></script>
{% endblock js %}